@(pins: List[is.ru.honn.rupin.domain.Pin])


@main(Html("RuPin")) {
    <h3>U R Loged In</h3>
    <h2>All pins on this Board: </h2>

<div class="actions">
    <a class="btn" href="@routes.Rupin.blank">Create New Pin</a>

    <a class="btn" href="@routes.Session.logout">Logout</a>
</div>
<p> </p>
    <p>U R Loged In:  </p>

    @for(pin <- pins){
        <p>@pin.getDescription</p>
       <p>@pin.getLink</p>
       <p>@pin.getImage</p>
       <p>@pin.getCreator().getUsername</p>
       <p>@pin.getBoard</p>


        <p>*****************************</p>

    }


}